/* 滚动条设置 */
/* 滚动条凹槽的颜色，还可以设置边框属性  */

::-webkit-scrollbar-track-piece {
  background-color: #fff;
}
/* 滚动条的宽度  */

::-webkit-scrollbar {
  width: 9px;

  height: 9px;
}

/* 滚动条的设置  */

::-webkit-scrollbar-thumb {
  /* background-color: rgb(50, 39, 209); */
  background-color: rgb(236, 19, 88);

  background-clip: padding-box;

  min-height: 28px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}
/* 背景图片 */
#web_bg {
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  z-index: -10;
  zoom: 1;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}
/* 导航LOGO图  */
#logo {
  height: 5rem;
  opacity: 1;
}
.navbar-transparent {
  background-color: #fff;
  opacity: 0.9;
}
a.nav-link:hover {
  color: rgb(236, 19, 88);
}
/* 主体部分 */
.wrap {
  padding: 5% 0 0 5%;
  width: 100%;
  height: 2500px;
  /* 父元素设置相对定位 */
  position: relative;
}
.box {
  flex: 1;
  border-radius: 0.5em;
  font-size: 140%;
}
.left-box {
  width: 70%;
  position: absolute;
  height: 95%;
}
.right-box {
  /* 设置left为左边盒子的宽度 */
  width: 23%;
  height: 40%;
  left: 75%;
  background: white;
  opacity: 0.95;
  position: relative;
}
/* 底部信息栏 */
.footer {
  float: center;
  clear: both;
  text-align: center;
  height: 10%;
}
.footer p {
  margin: 0;
  color: white;
}
.footer-icon {
  color: rgb(8, 63, 165);
  margin-right: 10px;
  cursor: pointer;
}
